@font-face {
  font-family: 'Didact Gothic';
  src: url('@/assets/fonts/didactgothic/didactgothic.woff2') format('woff2'),
      url('@/assets/fonts/didactgothic/didactgothic.woff') format('woff'),
      url('@/assets/fonts/didactgothic/didactgothic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene';
  src: url('@/assets/fonts/StyreneALC/StyreneALC-Regular.woff2') format('woff2'),
    url('@/assets/fonts/StyreneALC/StyreneALC-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Styrene';
  src: url('@/assets/fonts/StyreneALC/StyreneA-Bold-Web.woff2') format('woff2'),
    url('@/assets/fonts/StyreneALC/StyreneA-Bold-Web.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'StyreneAWeb';
  src: url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Black.woff2') format('woff2'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Black.woff') format('woff'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'StyreneAWeb';
  src: url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Bold.woff2') format('woff2'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Bold.woff') format('woff'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'StyreneAWeb';
  src: url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Light.woff2') format('woff2'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Light.woff') format('woff'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'StyreneAWeb';
  src: url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Regular.woff2') format('woff2'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Regular.woff') format('woff'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'StyreneAWeb';
  src: url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Medium.woff2') format('woff2'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Medium.woff') format('woff'),
  url('@/assets/fonts/StyreneAWeb/StyreneAWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('@/assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('@/assets/fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('@/assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('@/assets/fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('@/assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('@/assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('@/assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('@/assets/fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:
    url('@/assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
    url('@/assets/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
    url('@/assets/fonts/Montserrat/Montserrat-Black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: 'StyreneAWeb',
    'Regular';
  font-weight: 300;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline: none
}

a {
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

@media (min-width: 768px) {
  button:hover {
    opacity: 0.6
  }
}

picture img {
  display: block;
  width: 100%;
  height: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #FAF5FF;
}

h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 900;
}

h3 {
  margin: 0;
  font-weight: 900;
  font-size: 48px;
}

p {
  margin: 0;
}

img {
  pointer-events: none;
}

.faqItem__answer_opened a {
  color: #2B67F6;
  text-decoration: underline;
}